.itemlist{
  padding: 20px;
  text-align: center;
  background-color: rgb(229, 229, 229);
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
}

.itemlistcontainer .productos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;

}

.itemlistcontainer .productos .producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 3px solid black;
  gap: 10px;
}

.linkVerMas{
  font-size: 20px;
  color: blue;
  text-decoration: underline;
  font-weight: 800;
}

.proNombre{
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: larger;
}

.proPrecio{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: larger;
  color: rgb(154, 154, 214);
}