@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(199, 49, 49);
}
 
.linkTitulo{
    width: 33.3%;  
    display: flex;
  justify-content: center;
  align-items: center;
}


.titulo {
    font-family: "Dancing Script";
    font-weight: bolder;
    font-size: 60px;
    font-style: italic;
    color: black;
   
}

.seleccionar {
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    background: none;
    padding: o,5px;
    font-weight: 550;
    font-size: 17px;
    list-style-type: none;
    gap: 10px;
    color: black;
    text-decoration: none;

}

.seleccionar li{
    transition: 0.3s;
}



.seleccionar li:hover{
    color: aliceblue;
    transform: scale(1.2);
    padding: auto;
}

.cartWidget{
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartWidget .carrito {
    display: flex;
    font-size: 20px;
    transition: 0.3s;
    
}

.cartWidget .carrito:hover{
    transform: scale(1.3);
}
